@charset "UTF-8";
body{
    background-color: rgb(147,211,237);
}
h1{
    font-size: 24px;
}

h1{
    font-size: 18px;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 6px 0;
    margin: 20px auto;
    width: 300px;
    text-align: center;
}

div{
    text-align: center;
}

img{
    border-radius: 100%;
    width: 160px;
    text-align: center;
}

p{
    font-size: 16px;
    margin: 20px;
    margin-top: 100px;
    margin-left: 45%;
    background-color:bisque;
    width: 300px;
    border-radius: 20px;
    position: absolute;
}

ul,li{
    text-align: center;
    margin-bottom: 10px;
}